.element {
  border-radius: 10px;
  background: #ffffff;
  flex-grow: 1;
}
.element__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: black;
}

.element__group {
  display: flex;
  justify-content: space-between;
  padding: 25px 15px 25px 21px;
}

.element__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.element__like {
  width: 21px;
  height: 19px;
  background-image: url("../images/heart.jpg");
  align-self: center;
  cursor: pointer;
  border: none;
}
.element__like:hover {
  opacity: 0.5;
}
