.elements {
  max-width: 1184px;
  height: 100%;
  margin-top: 50px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 912px) {
  .elements {
    margin: 36px 19px auto;
  }
}
