.page {
  background: black;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

.page__content {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: #fff;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 912px) {
  .page__content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .page {
    margin: 0px;
  }
}
