.profile {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 200px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "title title";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 9px 17px;
  margin: 22px 165px 21px 30px;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
  grid-area: name;
}

.profile__title {
  margin: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 460px;
  grid-area: title;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url("../images/Add.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: center;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-image: url("../images/Edit.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  grid-area: button;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 915px) {
  .profile {
    margin: 40px 19px auto;
  }
  .profile__info {
    margin: 30px auto;
    grid-template-columns: auto;
  }

  .profile__add-button {
    margin: auto 19px;
  }
}

@media screen and (max-width: 760px) {
  .profile__name {
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (max-width: 615px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 95vw;
    margin: auto 19px;
    margin-top: 38.25px;
  }

  .profile__info {
    text-align: center;
    margin: 26.25px auto;
  }

  .profile__avatar {
    border-radius: 120px;
  }

  .profile__name {
    max-width: 196px;
  }

  .profile__title {
    font-size: 14px;
    line-height: 17px;
    max-width: 238px;
  }

  .profile__add-button {
    width: 100%;
    padding: 0px;
  }
}
